<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Soru Defteri</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>soru_defteri</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.13487261515-k2ulp61c3o8rr4dmlu6hcj3thjd4h9ca</string>
				<string>fb898226990916302</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>898226990916302</string>
	<key>FacebookDisplayName</key>
	<string>Soru Defteri</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-9795991379101361~4450165106</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fbauth2</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Soru yüklemek için müziklere erişim gerekiyor.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Soru yüklemek için takvime erişim gerekiyor.</string>
	<key>NSCameraUsageDescription</key>
	<string>Soru ve ipucu yükleyebilmek için kamera erişimine izin vermelisiniz.</string>
	<key>NSContactsUsageDescription</key>
	<string>Soru yüklemek için kişilere erişim gerekiyor.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Soru yüklemek için konuma erişim gerekiyor.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Soru yüklemek için konuma erişim gerekiyor.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Soru ve ipucu yükleyebilmek için bu erişime izin vermelisiniz.</string>
	<key>NSMotionUsageDescription</key>
	<string>Soru yüklemek için telefon hareketine erişim gerekiyor.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Soru ve ipucu yükleyebilmek için galeri erişimine izin vermelisiniz.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Soru yüklemek için ses tanımaya erişim gerekiyor.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>IDFA için izine ihtiyacımız var.</string>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>cstr6suwn9.skadnetwork</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
